<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="style.css")
        title Document
    body
        header
            nav.header__nav.wrapper
                .header__logo
                ul
                    li About us
                    li Our focus
                    li Portfolio
                    li Our team
                    li Work steps
                    li Pricing
                    li something
                    li Blog
                    li Contact
            .header__slogan.wrapper
                h1 We design things with love and passion
                a(href="#portfolio")
                    .button our works
                ul.header__slogan__items
                    li fixed price project
                    li recieve in time
                    li satisfaction guranteed
        main
            section#about
            section#focus
            section#portfolio
            section#team
            section#steps
            section#pricing
            section
            section#blog
            section#contact
            section
            footer